// Widescreens
@include mediaXL {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops and Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
// Tablets and Small Laptops
@include mediaMd {
  .name-small {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/profile-pic.jpg");
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-size: cover;
      background-position: -70px;
      background-repeat: no-repeat;
    }
  }
  .about-info {
    grid-template-areas:
      "bioimage"
      "bioimage2"
      "bio"
      "work-title"
      "job1"
      "job2"
      "job3"
      "edu-title"
      "edu1"
      "edu2"
      "edu3"
      "intl-title"
      "intl1"
      "intl2"
      "intl3";
    grid-template-columns: 1fr;
  }
}
// SmartPhones
@include mediaSm {
  .projects {
    grid-template-columns: 1fr;
  }
  main#home h1 {
    margin-top: 10vh;
  }
}
