@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1 {
  &.lg-heading {
    font-size: 75px;
    margin-top: 0em;
    margin-bottom: 20px;
    font-weight: 100;

    &.margin-top {
      margin-top: 2em;
    }
  }
}
h2,
h3 {
  margin: 0;
  font-weight: 200;
  &.lg-heading {
    font-size: 6rem;
    margin-top: 3rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(darken($primary-color, 20), 0.5);
  }
  &.name-heading {
    margin-top: 4rem;
    font-size: 2rem;
    padding: 0.2rem 1rem;
    background: rgba($primary-color, 0.9);
  }
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary,
.fa-code {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;
  min-height: calc(100vh-60px);

  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      // margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage2 bio bio"
    "bioimage bio bio"
    "work-title work-title work-title"
    "job1 job2 job3"
    "edu-title edu-title edu-title"
    "edu1 edu2 edu3"
    "intl-title intl-title intl-title"
    "intl1 intl2 intl3";

  grid-template-columns: repeat(3, 1fr);
}

.bio-image {
  grid-area: bioimage;
  width: 100%;
  margin: auto;
  border: $secondary-color 3px solid;
}

.bio-image2 {
  grid-area: bioimage2;
  width: 100%;
  margin: auto;
  border: $secondary-color 3px solid;
}

.bio {
  grid-area: bio;
  font-size: 1.25rem;
}

.job-1 {
  grid-area: job1;
}

.job-2 {
  grid-area: job2;
}
.job-3 {
  grid-area: job3;
}

.edu-1 {
  grid-area: edu1;
}

.edu-2 {
  grid-area: edu2;
}
.edu-3 {
  grid-area: edu3;
}

.intl-1 {
  grid-area: intl1;
}

.intl-2 {
  grid-area: intl2;
}
.intl-3 {
  grid-area: intl3;
}

.work-title {
  grid-area: work-title;
  font-size: 1.5rem;
  color: $secondary-color;
  margin: auto;
}

.edu-title {
  grid-area: edu-title;
  font-size: 1.5rem;
  color: $secondary-color;
  margin: auto;
}

.intl-title {
  grid-area: intl-title;
  font-size: 1.5rem;
  color: $secondary-color;
  margin: auto;
}

.job {
  background: lighten($primary-color, 10);
  padding: 0.5rem;
  border-bottom: $secondary-color 5px solid;
}

.edu {
  background: lighten($primary-color, 5);
  padding: 0.5rem;
  border-bottom: $secondary-color 5px solid;
}

.intl {
  background: darken($primary-color, 5);
  padding: 0.5rem;
  border-bottom: $secondary-color 5px solid;
}

.edu-heading {
  font-size: 1.5rem;
}

// Work / Projects
.projects {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px, solid white;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 1.5rem;
    border: 3px solid white;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

//Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background-color: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: white;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

// Work / Projects
.project-buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.button-item {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.back-button {
  display: block;
  text-align: center;
  float: center;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  background-color: $secondary-color;
  color: set-text-color($secondary-color);
  width: 150px;
  &:hover {
    opacity: 0.75;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

// Icons

i {
  margin-right: 5px;
}

.tech-icons {
  display: grid;
  padding: 10px;
  background-color: white;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;

  img {
    margin: auto;
    width: 125px;

    &.square-icon {
      max-width: 75px;
      height: auto;
    }
  }
}

//Project Demo Screenshots

.project-demo img {
  width: 100%;
  padding: 5px;
}

@import "mobile";
